.login{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.contenido{
    width: 90%;
    margin: 0 auto;
}
.juego{
    margin: 0 auto;
    text-align: center;
}
.img{
    width: 50%;
    margin: 0 auto;
}
table{
    width: 60%;
    margin: 0 auto;
}